div.container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 65vh;
    background-color: #f4f4f4;
}
h1 {
    margin: 20px 0;
}
.buttons-container {
    margin-bottom: 20px;
    display: flex;           
    flex-wrap: wrap; 
    justify-content: center;            
    gap: 10px;                   
    max-width: 80%;
}

.buttons-container button {
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    background-color: #4C4C4C;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    max-width: 200px;            
    width: auto;               
}

.buttons-container button:hover {
    background-color: #676666;
}

.flex {
    display: none; /* Ocultamos inicialmente */
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 13px;
}
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
}
.chart-container {
    min-width: 500px;              /* Ajusta el contenedor al 80% del ancho */
    height: 400px;           /* Puedes cambiar la altura a lo que necesites */
    margin: 0 auto;          /* Centra el contenedor en la página */
}
li, ul{
    margin: 6px;
}