body{
    margin: 0;
    padding: 0;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 50px 80px;
    margin-bottom: 60px;
    /* border-top: 2px solid #bebebe8f; */
    /* border-bottom: 2px solid #bebebe8f; */
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    margin: 0;
    border-left: 10px solid rgba(0, 0, 0, 0.034);
    border-right: 10px solid rgba(0, 0, 0, 0.034);
}

.imagen img{
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 0px;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); */
    overflow: hidden;
    transition: transform 0.3s ease;
}

/* .imagen img:hover{ */
    /* transform: scale(1.02); */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
/* } */

.informacion{
    width: 550px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    line-height: 0.7;
    gap: 5px;
    box-sizing: border-box;
    margin: 0;
    padding: 50px;
    border-right: 10px solid rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.034);
    text-align: right;
}

.informacion p{
    font-size: 20px;
    text-align: right;
}

.agregar-p{
    background-color: rgba(139, 139, 139, 0.2);
    border: 1px solid #2c2c2c;
    border-radius: 50%;
    line-height: 1.12;
    padding: 12px;
    color: #202020;
    border: none;
    font-size: 28px;
}

.agregar-p:hover{
    /* background-color: rgb(235, 235, 235); */
    color: rgb(0, 0, 0);
}

.no-agregar-p{
    background-color: rgba(151, 151, 151, 0.2);
    border: 1px solid #2c2c2c;
    border-radius: 50%;
    line-height: 1;
    padding: 12px;
    color: #979797;
    border: none;
    font-size: 20px;
}

.tachado{
    text-decoration: line-through;
    color: #646464;
}

.centrar-precio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 16px;
}

.centrar-precio *{
    margin: 0 10px;
    padding: 0;
}

*{
    font-family: 'GFS Didot', serif;
}

.card-body{
    border-radius: 2px;
}

.card-body input{
    margin-bottom: 15px;
    border-radius: 2px;
    border-color: #97979775;
    padding: 2px;
    width: 96%;
    font-size: 16px;
}

select{
    margin: 0 10px;
    padding: 3px 10px;
    padding-bottom: 4px;
    font-size: 18px;
    border-radius: 2px;
}

.card-body input[type="submit"]{
    width: 80px;
    margin: 0 10px;
    padding: 3px 10px;
    padding-bottom: 4px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: whitesmoke;
    color: #000;
    border: 1px solid #b4b4b4;
    border-radius: 2px;
    cursor: pointer;
}

.tarjetas{
    background-color: rgb(255, 255, 255);
    padding: 30px 50px;
    padding-top: 0;
}

label{
    font-family: 'GFS Didot', serif;
    font-size: 18px;
}

.cuadricula {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 15px 0;
    /* border-top: 2px solid rgba(0, 0, 0, 0.7); */
    /* border-bottom: 2px solid #c5c5c5; */
}

.card-producto {
    background-color: rgba(247, 247, 247, 0);
    border: 1px solid rgba(238, 238, 238, 0);
    border-radius: 0px;
    padding: 0px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
}

.btn-imagen{
    border: none;
    background-color: #0000;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    overflow: hidden;
}

.card-producto img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 0px;
    transition: transform 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-producto:hover img{
    transform: scale(1.15);
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

.centrar-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 16px;
}

.centrar-card *{
    margin: 0;
    padding: 0;
}

.gris{
    background-color: #cfcfcf;
    border: 1px solid #0000;
    border-radius: 25px;
    padding: 5px;
}

.verde{
    background-color: #beeeb0;
    border: 1px solid #0000;
    border-radius: 25px;
    padding: 5px;
}

.naranja{
    background-color: #eccc9a;
    border: 1px solid #0000;
    border-radius: 25px;
    padding: 5px;
}

.rojo{
    background-color: #ec9c9c;
    border: 1px solid #0000;
    border-radius: 25px;
    padding: 5px;
}

.agregar-p{
    background-color: rgba(187, 187, 187, 0.2);
    border: 1px solid #2c2c2c;
    border-radius: 50%;
    line-height: 1;
    padding: 12px;
    color: #3d3d3d;
    border: none;
    font-size: 20px;
}

.agregar-p:hover{
    /* background-color: rgb(235, 235, 235); */
    color: rgb(32, 32, 32);
}

.no-agregar-p{
    background-color: rgba(187, 187, 187, 0.2);
    border: 1px solid #2c2c2c;
    border-radius: 50%;
    line-height: 1;
    padding: 12px;
    color: #979797;
    border: none;
    font-size: 20px;
}

.tachado{
    text-decoration: line-through;
    color: #646464;
}

*{
    font-family: 'GFS Didot', serif;
}
